Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)

Align Config API with OpenShift API conventions
  apis/v1alpha1/config_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
  controllers/bpfman-operator/config.go
  internal/constants.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

test-integration: Add priority ordering verification for BPF links
  test/integration/common.go
  test/integration/metrics_test.go
  test/integration/tc_test.go
  test/integration/tcx_test.go
  test/integration/xdp_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Replace Group with APIVersion in ComponentOverride
  apis/v1alpha1/config_types.go
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate CRD and bundle manifests
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Remove BpffsInitImage configuration option from Config API
  apis/v1alpha1/config_types.go
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate CRD manifests and OLM bundle
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Update reconcilers for int32 status Priority field
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Change Priority field to pointer type in BPF program types
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  pkg/helpers/helpers.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Refactor BPF app tests to use table-driven pattern w/ helper func
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/test_common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

test: verify priority field handling in BPF program links
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Refactor network namespace cache into mockable interface
  cmd/bpfman-agent/main.go
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-agent/test_common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove unused GetPriorityPointer helper function
  pkg/helpers/helpers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Update tests for int32 status Priority field
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
  test/integration/common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Revert AttachInfoState Priority field to non-pointer type
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Define DefaultAttachPriority as public API constant
  apis/v1alpha1/shared_types.go
  pkg/helpers/helpers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate OLM bundle manifests
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
Due: bpfman-operator-bundle-on-push

Change Priority field to pointer type in BPF program types
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  pkg/helpers/helpers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate CRDs and deepcopy code
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Reverse program unload order to respect map ownership
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add bpffs mount capability to bpfman-agent
  cmd/bpfman-agent/main.go
  config/bpfman-deployment/daemonset.yaml
  internal/bpffs/bpffs.go
  internal/bpffs/bpffs_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix lifecycle test to use CI-loaded images and correct timeout error
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Update init container image when configuring the DaemonSet
  controllers/bpfman-operator/config.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Wait for BPF program success before expecting userspace pods
  test/integration/app_test.go
  test/integration/common.go
  test/integration/kprobe_test.go
  test/integration/tc_test.go
  test/integration/tcx_test.go
  test/integration/tracepoint_test.go
  test/integration/uprobe_test.go
  test/integration/xdp_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove deprecated Requeue field from reconcile results
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/test_common.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/cl_application_programs.go
  controllers/bpfman-operator/common.go
  controllers/bpfman-operator/ns_application_program_test.go
  controllers/bpfman-operator/ns_application_programs.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Bump controller-gen from v0.15.0 to v0.17.1
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix Config test scheme registration and owner reference checks
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Adapt to netobserv-ebpf-agent API changes in ifaces package
  cmd/bpfman-agent/main.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Change Offset API field type from uint64 to int64
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/uprobe_program_types.go
  controllers/bpfman-agent/cl_kprobe_program.go
  controllers/bpfman-agent/cl_uprobe_program.go
  controllers/bpfman-agent/ns_uprobe_program.go
  controllers/bpfman-operator/cl_application_program_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Bump Go version from 1.24 to 1.25 in CI and Containerfiles
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
Due: none

Remove remaining unused OpenShift kustomise files
  config/openshift/prometheus-metrics-reader-binding.yaml
  config/openshift/prometheus-rolebinding.yaml
  config/openshift/rbac.yaml
  config/prometheus/agent-service-monitor.yaml
  config/prometheus/controller-manager-metrics-monitor.yaml
Due: none
