Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)

Fix Linter for go 1.24
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

feat: add slack notification on failed integration tests
  .github/workflows/integration_test.yml
Due: none

update app integration test result processing
  Makefile
  test/integration/app_test.go
  test/integration/common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Make sure changing bpfman configmap restart daemonset pods
  controllers/bpfman-operator/configmap.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix handling for adding/deleting programs from an existing BpfApp CRD
  apis/v1alpha1/shared_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test1.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test2.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test3.yaml
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add support for uretprobe and kretprobe types
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test1.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test2.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_nginx_clusterbpfapplication.yaml
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_kprobe_program.go
  controllers/bpfman-agent/cl_uprobe_program.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_uprobe_program.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Change back to using bpfman from bpfman/main
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

tmp disable xdp test
  test/integration/suite_test.go
  test/integration/xdp_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

remove xdp go counter intg test case
  test/integration/xdp_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add back xdp go counter
  test/integration/xdp_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Make the bpfman-operator report status of "Pending" instead of "Error" when appropriate
  controllers/bpfman-operator/common.go
  pkg/helpers/helpers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

WIP: API proposal for network namespace selector
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Initial implementation.
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_nginx_clusterbpfapplication.yaml
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  go.mod
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

revert back to go1.23 since downstream not ready for go1.24 yet
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  go.mod
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

docs: fix broken link in README
  README.md
Due: none

Fix validation for EBPFProgType in BpfApplication/BpfApplicationState objects
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

api review: update field descriptions
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_fentry_program_types.go
  apis/v1alpha1/cluster_fexit_program_types.go
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/cluster_kretprobe_program_types.go
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_tracepoint_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Make the bpfman-operator report status of "Pending" instead of "Error" when appropriate
  controllers/bpfman-operator/common.go
  controllers/bpfman-operator/configmap.go
  pkg/helpers/helpers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Change ContainerSelector to NetworkNamespaceSelector for XDP, TC, and TCX
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/bpfman-deployment/daemonset.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_netns.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test1.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test2.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test3.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_globals_kprobeprogram.yaml
  config/samples/bpfman.io_v1alpha1_nginx_clusterbpfapplication.yaml
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/containers.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  hack/test-deployment.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

2nd round of APIs reviews
  apis/v1alpha1/shared_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test1.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test2.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_test3.yaml
  config/samples/bpfman.io_v1alpha1_globals_kprobeprogram.yaml
  config/samples/bpfman.io_v1alpha1_nginx_clusterbpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_xdp_pass_private_xdpprogram.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

fix image parsing logic
  controllers/bpfman-agent/internal/bpfman_core.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Addressing APIs review
  apis/v1alpha1/shared_types.go
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add intefaces match and regex filter to autodiscovery configs
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplication_with_intf_discovery.yaml
  controllers/bpfman-agent/common.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Intg intf discovery with netns selection
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  internal/constants.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Move BpfApplicationState Spec to Status
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_nginx_clusterbpfapplication.yaml
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/common.go
  controllers/bpfman-operator/common_cluster.go
  controllers/bpfman-operator/common_namespace.go
  controllers/bpfman-operator/ns_application_program_test.go
  hack/cluster-nginx-deployment.yaml
  hack/test-target-deployment-acme.yaml
  hack/test-target-deployment.yaml
  pkg/helpers/helpers.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

split out interface discovery processing
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix issue with object deletes failing
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-operator/cl_application_programs.go
  controllers/bpfman-operator/common_cluster.go
  controllers/bpfman-operator/common_namespace.go
  pkg/helpers/helpers.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Check for Duplicate Network Namespace Inodes
  cmd/bpfman-agent/main.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push
