Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)

Red Hat Konflux update ocp-bpfman-operator-catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
Due: bpfman-operator-on-pull-request

bpfman-operator release v0.5.2
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  Makefile
  README.md
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  catalog/index.yaml
  changelogs/CHANGELOG-v0.5.2.md
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

chore(deps): update bpfman-agent to 2e01375
  hack/update_configmap.sh
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request

chore(deps): update bpfman-operator to 4e732d0
  hack/update_bundle.sh
  hack/update_catalog.sh
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request

Red Hat Konflux purge bpfman-operator-catalog-ocp4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/bpfman-operator-catalog-ocp4-18-push.yaml
Due: bpfman-operator-on-pull-request

Red Hat Konflux purge bpfman-operator-catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bpfman-operator-catalog-pull-request.yaml
  .tekton/bpfman-operator-catalog-push.yaml
Due: bpfman-operator-on-pull-request

Red Hat Konflux purge bpfman-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bpfman-operator-bundle-pull-request.yaml
  .tekton/bpfman-operator-bundle-push.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request

Red Hat Konflux purge bpfman-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bpfman-operator-pull-request.yaml
  .tekton/bpfman-operator-push.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Red Hat Konflux purge bpfman-agent Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bpfman-agent-pull-request.yaml
  .tekton/bpfman-agent-push.yaml
Due: bpfman-operator-on-pull-request

remove tekton folder and any konflux related changes
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  catalog/index.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

remove konflux update scripts and makefile rule
  Makefile
  hack/update_bundle.sh
  hack/update_catalog.sh
  hack/update_configmap.sh
  hack/update_fbc.sh
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

WIP: initial APIS for TCX ebpf program types
  PROJECT
  apis/v1alpha1/bpfapplication_types.go
  apis/v1alpha1/tcxProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.register.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/kustomization.yaml
  config/samples/bpfman.io_v1alpha1_tcx_pass_tcprogram.yaml
  pkg/client/apis/v1alpha1/expansion_generated.go
  pkg/client/apis/v1alpha1/tcxprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_tcxprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/generated_expansion.go
  pkg/client/clientset/typed/apis/v1alpha1/tcxprogram.go
  pkg/client/externalversions/apis/v1alpha1/interface.go
  pkg/client/externalversions/apis/v1alpha1/tcxprogram.go
  pkg/client/externalversions/generic.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add controllers for TCX
  apis/v1alpha1/tcxProgram_types.go
  bundle/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  cmd/bpfman-agent/main.go
  cmd/bpfman-operator/main.go
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/rbac/bpfman-agent/role.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-agent/application-program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/tcx-program_test.go
  controllers/bpfman-operator/tcx-program.go
  controllers/bpfman-operator/tcx-program_test.go
  internal/constants.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Intg with bpfman tcx PR
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_tcx_pass_tcprogram.yaml
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/tcx-program_test.go
  test/integration/tcx_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add TCX example to bundle csv
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

base clusterserviceversion updates
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Add separate workflow to run Kubernetes integration tests
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
Due: none

bpfman-operator release v0.5.4
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  Makefile
  README.md
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  changelogs/CHANGELOG-v0.5.1.md
  changelogs/CHANGELOG-v0.5.2.md
  changelogs/CHANGELOG-v0.5.3.md
  changelogs/CHANGELOG-v0.5.4.md
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

update bpfman dependency to pick TCX support
  go.mod
  go.sum
  vendor/github.com/bpfman/bpfman/clients/gobpfman/v1/bpfman.pb.go
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

fix intg test for application object
  test/integration/app_test.go
  test/integration/common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

change GH workflows from ubuntu latest to ubuntu-24.04
  .github/workflows/image-build.yaml
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Address review comments
  apis/v1alpha1/tcxProgram_types.go
  bundle/manifests/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  controllers/bpfman-operator/tcx-program.go
  test/integration/common.go
  test/integration/tcx_test.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

OCPBUGS-42593: hardening service account automount
  controllers/bpfman-operator/configmap.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

panic in bpfman-agent due to err not being returned
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/internal/bpfman-core.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Add scorecard badge to bpfman-operator
  README.md
Due: none

Fix scorecard badge URLs in README
  README.md
Due: none

add xdp & tc image configuration example
  config/bpfman-deployment/config.yaml
Due: none

interface names hook doesn't allow more than one function per interface per direction
  controllers/bpfman-agent/application-program.go
  controllers/bpfman-agent/application-program_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add sample kprobe yaml with 9 global variables
  config/samples/bpfman.io_v1alpha1_globals_kprobeprogram.yaml
Due: none

API for attaching BPF programs inside network namespaces
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_tcprograms.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  bundle/manifests/bpfman.io_xdpprograms.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

logs: simplify the bpfman-agent logs
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/bpfman-operator-deployment/deployment.yaml
  controllers/bpfman-agent/application-program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/fentry-program.go
  controllers/bpfman-agent/fexit-program.go
  controllers/bpfman-agent/kprobe-program.go
  controllers/bpfman-agent/tc-program.go
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/tracepoint-program.go
  controllers/bpfman-agent/uprobe-program.go
  controllers/bpfman-agent/xdp-program.go
  controllers/bpfman-operator/application-programs.go
  controllers/bpfman-operator/common.go
  controllers/bpfman-operator/configmap.go
  controllers/bpfman-operator/fentry-program.go
  controllers/bpfman-operator/fexit-program.go
  controllers/bpfman-operator/kprobe-program.go
  controllers/bpfman-operator/tc-program.go
  controllers/bpfman-operator/tcx-program.go
  controllers/bpfman-operator/tracepoint-program.go
  controllers/bpfman-operator/uprobe-program.go
  controllers/bpfman-operator/xdp-program.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add ContainerSelector to tc, tcx, and xdp programs
  apis/v1alpha1/tcProgram_types.go
  apis/v1alpha1/tcxProgram_types.go
  apis/v1alpha1/xdpProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/bpfman-deployment/daemonset.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add netns support for TCX, TC and XDP programs.
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_tcprograms.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  bundle/manifests/bpfman.io_xdpprograms.yaml
  config/bpfman-deployment/daemonset.yaml
  config/samples/bpfman.io_v1alpha1_bpfapp-containers.yaml
  config/samples/bpfman.io_v1alpha1_tc_containers_tcprogram.yaml
  config/samples/bpfman.io_v1alpha1_tcx_containers_tcxprogram.yaml
  config/samples/bpfman.io_v1alpha1_tcx_pass_tcxprogram.yaml
  config/samples/bpfman.io_v1alpha1_xdp_containers_xdpprogram.yaml
  controllers/bpfman-agent/containers.go
  controllers/bpfman-agent/tc-program.go
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/uprobe-program.go
  controllers/bpfman-agent/xdp-program.go
  go.mod
  go.sum
  internal/constants.go
  vendor/github.com/bpfman/bpfman/clients/gobpfman/v1/bpfman.pb.go
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add support for attaching TCX, TC and XDP programs inside containers. (#345)
  apis/v1alpha1/tcProgram_types.go
  apis/v1alpha1/tcxProgram_types.go
  apis/v1alpha1/xdpProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_tcprograms.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  bundle/manifests/bpfman.io_xdpprograms.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
  config/samples/bpfman.io_v1alpha1_bpfapp-containers.yaml
  config/samples/bpfman.io_v1alpha1_tc_containers_tcprogram.yaml
  config/samples/bpfman.io_v1alpha1_tcx_containers_tcxprogram.yaml
  config/samples/bpfman.io_v1alpha1_tcx_pass_tcxprogram.yaml
  config/samples/bpfman.io_v1alpha1_xdp_containers_xdpprogram.yaml
  controllers/bpfman-agent/containers.go
  controllers/bpfman-agent/tc-program.go
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/uprobe-program.go
  controllers/bpfman-agent/xdp-program.go
  go.mod
  go.sum
  internal/constants.go
  vendor/github.com/bpfman/bpfman/clients/gobpfman/v1/bpfman.pb.go
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push
