Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator-bundle:{{revision}}
  - name: dockerfile
  ...

bpfman-operator-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:on-pr-{{revision}}
  - name: image-expires-after
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:{{revision}}
  - name: dockerfile
  ...

Set CGO_ENABLED=1 to support FIPS-compatible builds
  Containerfile.bpfman-agent
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator
  Containerfile.bpfman-operator.openshift
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix issues attaching inside network namespaces
  Makefile
  config/bpfman-deployment/daemonset.yaml
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  hack/startpods.sh
  hack/test-target-deployment.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove OpenShift-specific Containerfiles
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove OpenShift-specific Containerfiles
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Don't return error if discovered interfaces is 0
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

api review: update field descriptions
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_fentry_program_types.go
  apis/v1alpha1/cluster_fexit_program_types.go
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/cluster_kretprobe_program_types.go
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_tracepoint_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/uprobe_program_types.go
  apis/v1alpha1/xdp_program_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

chore: Update to golang-ci-lint v2
  .golangci.yaml
  Makefile
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-operator/configmap.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add NetnsCache to avoid redundant getNetnsId() syscalls
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Makefile: wait for ConfigMap deletion before undeploy
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Review comments from Andre
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/uprobe_program_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplicationstate.yaml
  config/samples/bpfman.io_v1alpha1_clusterbpfapplicationstate.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Enable TLS metrics endpoint for metrics
  cmd/bpfman-agent/main.go
  cmd/bpfman-operator/main.go
  config/bpfman-deployment/config.yaml
  config/bpfman-deployment/daemonset.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/openshift/agent-metrics-monitor-tls-patch.yaml
  config/openshift/agent-metrics-service-serving-cert-patch.yaml
  config/openshift/controller-manager-metrics-service-monitor-tls-patch.yaml
  config/openshift/controller-manager-metrics-service-serving-cert-patch.yaml
  config/openshift/kustomization.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  config/openshift/prometheus-rolebinding.yaml
  config/prometheus/agent-metrics-service.yaml
  config/prometheus/agent-service-monitor.yaml
  config/prometheus/controller-manager-metrics-monitor.yaml
  config/prometheus/controller-manager-metrics-service.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/role.yaml
  config/rbac/auth_delegator_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role_binding.yaml
  controllers/bpfman-operator/configmap.go
  controllers/bpfman-operator/configmap_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove kube-rbac-proxy and temporarily disable metrics
  config/default/manager_auth_proxy_patch.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/test/manager_auth_proxy_patch.yaml
Due: none

Regenerate bundle via `make bundle`
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-agent-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-auth-delegator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/bpfman-config_v1_configmap.yaml
  bundle/manifests/bpfman-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/bpfman-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
Due: bpfman-operator-bundle-on-push

bpfman-operator: watch DaemonSet, remove DS finaliser, rework teardown
  controllers/bpfman-operator/configmap.go
  controllers/bpfman-operator/configmap_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Revert "revert back to go1.23 since downstream not ready for go1.24 yet"
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  go.mod
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

go mod tidy
  go.mod
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Improve bundle versioning using VERSION file
  Makefile
  VERSION
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Add DeepWiki badge
  README.md
Due: none

Regenerate bundle
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-agent-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-config_v1_configmap.yaml
  bundle/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

CI: Fight
  test/integration/metrics_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

CI: Fight. Fight
  test/integration/metrics_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

CI: Fight. Fight. Fight
  test/integration/metrics_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-agent: restructure runtime lifecycle with unified error handling
  cmd/bpfman-agent/main.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

DO NOT MERGE: commit to allow shutdown testing
  cmd/bpfman-agent/main.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Pass cancellable context to newInterfaceDiscovery
  cmd/bpfman-agent/main.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

BpfApplicationReconcilers: wrap loadRequest error
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Samples: Fix XDP program URL
  config/samples/bpfman.io_v1alpha1_xdp_pass_private_xdpprogram.yaml
  config/samples/bpfman.io_v1alpha1_xdp_pass_xdpprogram.yaml
Due: none

Add test cases for nil pointer access in getBpfAppState functions
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix nil pointer access in getBpfAppState functions
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add bpfman-crictl command-line tool
  Makefile
  cmd/bpfman-crictl/main.go
  cmd/bpfman-crictl/main_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Migrate agent controllers to use native CRI client
  controllers/bpfman-agent/containers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Implement container runtime abstraction package
  pkg/crictl/api.go
  pkg/crictl/client.go
  pkg/crictl/container.go
  pkg/crictl/discovery.go
  pkg/crictl/types.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Vendor container runtime dependencies
  go.mod
  go.sum
  vendor/github.com/buger/jsonparser/.gitignore
  vendor/github.com/buger/jsonparser/.travis.yml
  vendor/github.com/buger/jsonparser/Dockerfile
  vendor/github.com/buger/jsonparser/LICENSE
  vendor/github.com/buger/jsonparser/Makefile
  vendor/github.com/buger/jsonparser/README.md
  vendor/github.com/buger/jsonparser/bytes.go
  vendor/github.com/buger/jsonparser/bytes_safe.go
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/fuzz.go
  vendor/github.com/buger/jsonparser/oss-fuzz-build.sh
  vendor/github.com/buger/jsonparser/parser.go
  vendor/github.com/gogo/protobuf/gogoproto/Makefile
  vendor/github.com/gogo/protobuf/gogoproto/doc.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.golden
  vendor/github.com/gogo/protobuf/gogoproto/gogo.proto
  vendor/github.com/gogo/protobuf/gogoproto/helper.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/Makefile
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.pb.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor_gostring.gen.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/helper.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/k8s.io/cri-api/LICENSE
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/constants.go
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Complete crictl elimination from agent containers
  Containerfile.bpfman-agent
Due: none

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
