Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator-bundle:{{revision}}
  - name: dockerfile
  ...

bpfman-operator-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:on-pr-{{revision}}
  - name: image-expires-after
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:{{revision}}
  - name: dockerfile
  ...

WIP: Initial pass at BpfApplication CRD update for load/attach split
  apis/v1alpha1/bpfapplication_types.go
  apis/v1alpha1/fentryProgram_types.go
  apis/v1alpha1/fexitProgram_types.go
  apis/v1alpha1/kprobeProgram_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tcProgram_types.go
  apis/v1alpha1/tcxProgram_types.go
  apis/v1alpha1/tracepointProgram_types.go
  apis/v1alpha1/uprobeProgram_types.go
  apis/v1alpha1/xdpProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_fentryprograms.yaml
  config/crd/bases/bpfman.io_fexitprograms.yaml
  config/crd/bases/bpfman.io_kprobeprograms.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_tracepointprograms.yaml
  config/crd/bases/bpfman.io_uprobeprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_fentryprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_fexitprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_kprobeprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_tcprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_tcxprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_tracepointprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_uprobeprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_xdpprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fentryprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/fexitprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/kprobeprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/tcprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/tcxprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/tracepointprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/uprobeprogram.go
  pkg/client/clientset/typed/apis/v1alpha1/xdpprogram.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add unit test for Uprobe in container
  cmd/bpfman-agent/main.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/containers.go
  controllers/bpfman-agent/tc-program.go
  controllers/bpfman-agent/tcx-program.go
  controllers/bpfman-agent/test_common.go
  controllers/bpfman-agent/uprobe-program.go
  controllers/bpfman-agent/uprobe-program_test.go
  controllers/bpfman-agent/xdp-program.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

WIP: BpfApplicationNode CRD POC
  apis/v1alpha1/bpfApplicationNode_types.go
  apis/v1alpha1/fentryProgram_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tcProgram_types.go
  apis/v1alpha1/xdpProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.register.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_fentryprograms.yaml
  bundle/manifests/bpfman.io_fexitprograms.yaml
  bundle/manifests/bpfman.io_kprobeprograms.yaml
  bundle/manifests/bpfman.io_tcprograms.yaml
  bundle/manifests/bpfman.io_tcxprograms.yaml
  bundle/manifests/bpfman.io_tracepointprograms.yaml
  bundle/manifests/bpfman.io_uprobeprograms.yaml
  bundle/manifests/bpfman.io_xdpprograms.yaml
  config/crd/bases/bpfman.io_bpfapplicationnodes.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_fentryprograms.yaml
  config/crd/bases/bpfman.io_fexitprograms.yaml
  config/crd/bases/bpfman.io_kprobeprograms.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_tracepointprograms.yaml
  config/crd/bases/bpfman.io_uprobeprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
  pkg/client/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/apis/v1alpha1/expansion_generated.go
  pkg/client/clientset/typed/apis/v1alpha1/apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_bpfapplicationnode.go
  pkg/client/clientset/typed/apis/v1alpha1/generated_expansion.go
  pkg/client/externalversions/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/externalversions/apis/v1alpha1/interface.go
  pkg/client/externalversions/generic.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix intermittent error when deleting programs
  controllers/bpfman-agent/common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Update go version to 1.23
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  Makefile
  go.mod
  vendor/sigs.k8s.io/controller-runtime/Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator release v0.5.5
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  Makefile
  README.md
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  changelogs/CHANGELOG-v0.5.5.md
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

post v0.5.5 cleanup
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

WIP: Starting work on BpfApplicationNode CRD
  apis/v1alpha1/bpfApplicationNode_types.go
  apis/v1alpha1/fentryProgram_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tcProgram_types.go
  apis/v1alpha1/xdpProgram_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.register.go
  config/crd/bases/bpfman.io_bpfapplicationnodes.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfnsapplications.yaml
  config/crd/bases/bpfman.io_fentryprograms.yaml
  config/crd/bases/bpfman.io_fexitprograms.yaml
  config/crd/bases/bpfman.io_kprobeprograms.yaml
  config/crd/bases/bpfman.io_tcnsprograms.yaml
  config/crd/bases/bpfman.io_tcprograms.yaml
  config/crd/bases/bpfman.io_tcxnsprograms.yaml
  config/crd/bases/bpfman.io_tcxprograms.yaml
  config/crd/bases/bpfman.io_tracepointprograms.yaml
  config/crd/bases/bpfman.io_uprobensprograms.yaml
  config/crd/bases/bpfman.io_uprobeprograms.yaml
  config/crd/bases/bpfman.io_xdpnsprograms.yaml
  config/crd/bases/bpfman.io_xdpprograms.yaml
  pkg/client/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/apis/v1alpha1/expansion_generated.go
  pkg/client/clientset/typed/apis/v1alpha1/apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_bpfapplicationnode.go
  pkg/client/clientset/typed/apis/v1alpha1/generated_expansion.go
  pkg/client/externalversions/apis/v1alpha1/bpfapplicationnode.go
  pkg/client/externalversions/apis/v1alpha1/interface.go
  pkg/client/externalversions/generic.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

update golang to 1.23 and build crictl from source
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

run make vendors to update go.mod
  go.mod
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

docs: move bpfman-operator details from README to docs
  README.md
Due: none

Update TODO list, rename some files, fix fentry
  TODO.md
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  config/samples/bpfman.io_v1alpha1_fentry_bpfapplication.yaml
  controllers/app-agent/cl-application-program.go
  controllers/app-agent/cl-application-program_test.go
  controllers/app-agent/cl-fentry-program.go
  controllers/app-agent/cl-tcx-program.go
  controllers/app-agent/cl-xdp-program.go
  controllers/app-agent/common.go
  controllers/app-operator/application-cl-program_test.go
  controllers/app-operator/application-cl-programs.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

ci: upgrade upload-artifact action to v4 in scorecard workflow
  .github/workflows/scorecard.yml
Due: none

update csi-node-driver-registrar container for multiarch
  config/bpfman-deployment/daemonset.yaml
Due: none

Add "patch" to verbs for namespace-scoped CRDs in namespace_scoped.yaml
  hack/namespace_scoped.yaml
Due: bpfman-operator-on-pull-request

Fix random failures in unit tests
  controllers/bpfman-agent/internal/test-utils/fake_bpfman_client.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add license scan report and status
  README.md
Due: none

bpfman-operator release v0.5.6
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  Makefile
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  changelogs/CHANGELOG-v0.5.6.md
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

update openshift bundle containerfile
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-on-push

rename bundle.Dockerfile to be consistent with other containerfiles in the repo
  Containerfile.bundle
Due: none

revert #378
  bundle.Dockerfile
Due: none

fix some warnings in community-operators-prod
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

feat: add slack notification on failed integration tests
  .github/workflows/integration_test.yml
Due: none

chore: Bump Go to 1.24
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  Makefile
  go.mod
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

WIP: Update to use the load/attach split from bpfman pr #1354
  apis/v1alpha1/kprobeProgram_types.go
  apis/v1alpha1/uprobeNsProgram_types.go
  apis/v1alpha1/uprobeProgram_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_bpfnsapplications.yaml
  bundle/manifests/bpfman.io_bpfnsapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfnsapplications.yaml
  config/crd/bases/bpfman.io_bpfnsapplicationstates.yaml
  config/samples/bpfman.io_v1alpha1_bpfapplication.yaml
  controllers/bpfman-agent/cl-application-program.go
  controllers/bpfman-agent/cl-application-program_test.go
  controllers/bpfman-agent/cl-fentry-program.go
  controllers/bpfman-agent/cl-fexit-program.go
  controllers/bpfman-agent/cl-kprobe-program.go
  controllers/bpfman-agent/cl-tc-program.go
  controllers/bpfman-agent/cl-tcx-program.go
  controllers/bpfman-agent/cl-tracepoint-program.go
  controllers/bpfman-agent/cl-uprobe-program.go
  controllers/bpfman-agent/cl-xdp-program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/internal/bpfman-core.go
  controllers/bpfman-agent/internal/cmp.go
  controllers/bpfman-agent/internal/test-utils/fake_bpfman_client.go
  controllers/bpfman-agent/ns-application-program.go
  controllers/bpfman-agent/ns-application-program_test.go
  controllers/bpfman-agent/ns-tc-program.go
  controllers/bpfman-agent/ns-tcx-program.go
  controllers/bpfman-agent/ns-uprobe-program.go
  controllers/bpfman-agent/ns-xdp-program.go
  controllers/bpfman-operator/cl-application-program_test.go
  go.mod
  go.sum
  vendor/github.com/bpfman/bpfman/clients/gobpfman/v1/bpfman.pb.go
  vendor/github.com/bpfman/bpfman/clients/gobpfman/v1/bpfman_grpc.pb.go
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
