Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator-bundle:{{revision}}
  - name: dockerfile
  ...

bpfman-operator-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:on-pr-{{revision}}
  - name: image-expires-after
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:{{revision}}
  - name: dockerfile
  ...

Add validation script for bpfman-crictl functionality
  hack/test-bpfman-crictl.sh
Due: bpfman-operator-on-pull-request

Disable controller-runtime metrics server in bpfman-agent
  cmd/bpfman-agent/main.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Complete crictl elimination from agent containers
  Containerfile.bpfman-agent
Due: none

Implement container runtime abstraction package
  pkg/crictl/api.go
  pkg/crictl/client.go
  pkg/crictl/container.go
  pkg/crictl/discovery.go
  pkg/crictl/types.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Migrate agent controllers to use native CRI client
  controllers/bpfman-agent/containers.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add bpfman-crictl command-line tool
  Makefile
  cmd/bpfman-crictl/main.go
  cmd/bpfman-crictl/main_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Vendor container runtime dependencies
  go.mod
  go.sum
  vendor/github.com/buger/jsonparser/.gitignore
  vendor/github.com/buger/jsonparser/.travis.yml
  vendor/github.com/buger/jsonparser/Dockerfile
  vendor/github.com/buger/jsonparser/LICENSE
  vendor/github.com/buger/jsonparser/Makefile
  vendor/github.com/buger/jsonparser/README.md
  vendor/github.com/buger/jsonparser/bytes.go
  vendor/github.com/buger/jsonparser/bytes_safe.go
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/fuzz.go
  vendor/github.com/buger/jsonparser/oss-fuzz-build.sh
  vendor/github.com/buger/jsonparser/parser.go
  vendor/github.com/gogo/protobuf/gogoproto/Makefile
  vendor/github.com/gogo/protobuf/gogoproto/doc.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.golden
  vendor/github.com/gogo/protobuf/gogoproto/gogo.proto
  vendor/github.com/gogo/protobuf/gogoproto/helper.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/Makefile
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.pb.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor_gostring.gen.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/helper.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/k8s.io/cri-api/LICENSE
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/constants.go
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator: Add Config resource and update reconciler and tests
  Makefile
  apis/v1alpha1/config_types.go
  cmd/bpfman-operator/main.go
  config/bpfman-deployment/config.yaml
  config/bpfman-deployment/kustomization.yaml.env
  config/crd/kustomization.yaml
  config/openshift/patch.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  controllers/bpfman-operator/configmap.go
  controllers/bpfman-operator/configmap_test.go
  internal/constants.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator: Autogenerated code for Config resource
  apis/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.register.go
  config/crd/bases/bpfman.io_configs.yaml
  config/rbac/bpfman-operator/role.yaml
  pkg/client/apis/v1alpha1/config.go
  pkg/client/apis/v1alpha1/expansion_generated.go
  pkg/client/clientset/typed/apis/v1alpha1/apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/config.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/client/clientset/typed/apis/v1alpha1/fake/fake_config.go
  pkg/client/clientset/typed/apis/v1alpha1/generated_expansion.go
  pkg/client/externalversions/apis/v1alpha1/config.go
  pkg/client/externalversions/apis/v1alpha1/interface.go
  pkg/client/externalversions/generic.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator: Add Config resource - Make bundle
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

bpfman-operator: Add Config resource - Update integration tests
  config/test/.gitignore
  config/test/kustomization.yaml.env
  config/test/manager_config_patch.yaml
  config/test/patch.yaml
  test/integration/suite_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix Config deletion race condition with finalizer protection
  Makefile
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  internal/constants.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Test Config deployment
  hack/test-config-lifecycle.sh
  hack/test-resource-recreation.sh
  hack/verify-deployment.sh
Due: bpfman-operator-on-pull-request

Make bundle for Fix Config deletion race condition
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Run operator locally
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix reconciliation loop using semantic comparison
  config/bpfman-deployment/csidriverinfo.yaml
  config/bpfman-deployment/daemonset.yaml
  config/bpfman-deployment/metrics-proxy-daemonset.yaml
  controllers/bpfman-operator/config.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Daemonset: Move bidirectional mount from /run/bpfman to /run/bpfman/csi
  config/bpfman-deployment/daemonset.yaml
Due: none

Fix mount leak DoS by removing bidirectional propagation
  config/bpfman-deployment/daemonset.yaml
Due: none

Fix reconciliation loop using semantic comparison
  config/bpfman-deployment/csidriverinfo.yaml
  config/bpfman-deployment/daemonset.yaml
  config/bpfman-deployment/metrics-proxy-daemonset.yaml
  config/openshift/restricted-scc.yaml
  controllers/bpfman-operator/config.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add lifecycle integration tests and refactor OpenShift detection
  Makefile
  cmd/bpfman-operator/main.go
  internal/k8s.go
  pkg/helpers/helpers.go
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add lifecycle test to CI
  .github/workflows/integration_test.yml
Due: none

lifecycle: test Config deletion with blocked DaemonSet finalisers
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add kustomize dependency to targets that need it
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix image substitution patterns in Makefile deployment targets
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Simplify undeploy targets for Config resource cleanup
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
