Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator-bundle:{{revision}}
  - name: dockerfile
  ...

bpfman-operator-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:on-pr-{{revision}}
  - name: image-expires-after
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:{{revision}}
  - name: dockerfile
  ...

docs: add script to run kubectl explain on all crds
  Makefile
  docs/crds/BpfApplication.txt
  docs/crds/BpfApplicationState.txt
  docs/crds/ClusterBpfApplication.txt
  docs/crds/ClusterBpfApplicationState.txt
  hack/crd_explain_txt.sh
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix unused t *testing.T in waitForResourceCreation
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Makefile: Target run-local, ignore scaling issues
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Config: Comment r.Get to clarify why types.NamespacedName is needed
  controllers/bpfman-operator/config.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix overlaying bpf mount
  config/bpfman-deployment/daemonset.yaml
Due: none

Use long-form flags for self documentation
  config/bpfman-deployment/daemonset.yaml
Due: none

Config: Change healthProbeAddr to healthProbePort
  apis/v1alpha1/config_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

config: Migrate to Server-Side Apply for reconciliation
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Autogenerated code for Config .status fields
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/bpfman.io_configs.yaml
  config/rbac/bpfman-operator/role.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add status tracking to Config resource
  apis/v1alpha1/config_types.go
  cmd/bpfman-operator/main.go
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  internal/constants.go
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Make bundle for Config .status
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Implement component override functionality for Config resource
  apis/v1alpha1/config_types.go
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Config Overrides: auto-generated code
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Config Overrides: auto-generated bundle
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Work around sigstore-rs rekor issue in integration tests
  test/integration/suite_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

DaemonSet: Remove /var/lib/bpfman from mounts
  config/bpfman-deployment/daemonset.yaml
Due: none

Add status tracking to Config resource
  apis/v1alpha1/config_types.go
  cmd/bpfman-operator/main.go
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  internal/constants.go
  internal/k8s.go
  test/lifecycle/lifecycle_test.go
  test/testutil/conditions.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add lifecycle test validation for Config default values
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Make Config API compliant with OpenShift API standards
  apis/v1alpha1/config_types.go
  controllers/bpfman-operator/config.go
  internal/constants.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Autogenerated code for Config .status fields
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
  config/rbac/bpfman-operator/role.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Autogenerated code for API changes
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Address further API review issues
  apis/v1alpha1/config_types.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Autogenerated code
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push

Autogenerated code
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Remove getters from ClusterBpfApplicationState and BpfApplicationState
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  cmd/bpfman-operator/main.go
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/cl_application_programs.go
  controllers/bpfman-operator/common.go
  controllers/bpfman-operator/common_cluster.go
  controllers/bpfman-operator/common_namespace.go
  controllers/bpfman-operator/config_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  controllers/bpfman-operator/ns_application_programs.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

next-api-change
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_fentry_program_types.go
  apis/v1alpha1/cluster_fexit_program_types.go
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/cluster_kretprobe_program_types.go
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_tracepoint_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/config_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/uprobe_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_configs.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Revert "Work around sigstore-rs rekor issue in integration tests"
  test/integration/suite_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Align Config API with OpenShift API conventions
  apis/v1alpha1/config_types.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_configs.yaml
  config/crd/bases/bpfman.io_configs.yaml
  controllers/bpfman-operator/config.go
  internal/constants.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Align APIs with OpenShift API conventions for optional fields
  apis/v1alpha1/bpf_application_state_types.go
  apis/v1alpha1/bpf_application_types.go
  apis/v1alpha1/cluster_bpf_application_state_types.go
  apis/v1alpha1/cluster_bpf_application_types.go
  apis/v1alpha1/cluster_fentry_program_types.go
  apis/v1alpha1/cluster_fexit_program_types.go
  apis/v1alpha1/cluster_kprobe_program_types.go
  apis/v1alpha1/cluster_kretprobe_program_types.go
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_tracepoint_program_types.go
  apis/v1alpha1/cluster_uprobe_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/shared_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/uprobe_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Change Priority field to pointer type in BPF program types
  apis/v1alpha1/cluster_tc_program_types.go
  apis/v1alpha1/cluster_tcx_program_types.go
  apis/v1alpha1/cluster_xdp_program_types.go
  apis/v1alpha1/tc_program_types.go
  apis/v1alpha1/tcx_program_types.go
  apis/v1alpha1/xdp_program_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman.io_bpfapplications.yaml
  bundle/manifests/bpfman.io_bpfapplicationstates.yaml
  bundle/manifests/bpfman.io_clusterbpfapplications.yaml
  bundle/manifests/bpfman.io_clusterbpfapplicationstates.yaml
  config/crd/bases/bpfman.io_bpfapplications.yaml
  config/crd/bases/bpfman.io_bpfapplicationstates.yaml
  config/crd/bases/bpfman.io_clusterbpfapplications.yaml
  config/crd/bases/bpfman.io_clusterbpfapplicationstates.yaml
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-operator/cl_application_program_test.go
  controllers/bpfman-operator/ns_application_program_test.go
  pkg/helpers/helpers.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Refactor BPF app tests to use table-driven pattern w/ helper func
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/test_common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Refactor network namespace cache into mockable interface
  cmd/bpfman-agent/main.go
  controllers/bpfman-agent/cl_application_program.go
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/cl_tc_program.go
  controllers/bpfman-agent/cl_tcx_program.go
  controllers/bpfman-agent/cl_xdp_program.go
  controllers/bpfman-agent/common.go
  controllers/bpfman-agent/ns_application_program.go
  controllers/bpfman-agent/ns_application_program_test.go
  controllers/bpfman-agent/ns_tc_program.go
  controllers/bpfman-agent/ns_tcx_program.go
  controllers/bpfman-agent/ns_xdp_program.go
  controllers/bpfman-agent/test_common.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

test: verify priority field handling in BPF program links
  controllers/bpfman-agent/cl_application_program_test.go
  controllers/bpfman-agent/ns_application_program_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
