Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator-bundle:{{revision}}
  - name: dockerfile
  ...

bpfman-operator-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:on-pr-{{revision}}
  - name: image-expires-after
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator/bpfman-operator:{{revision}}
  - name: dockerfile
  ...

Move OpenShift SCC and Prometheus RBAC to runtime creation
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/openshift/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove unused OpenShift kustomise patch files
  config/openshift/agent-metrics-monitor-tls-patch.yaml
  config/openshift/agent-metrics-service-serving-cert-patch.yaml
  config/openshift/controller-manager-metrics-service-monitor-tls-patch.yaml
  config/openshift/controller-manager-metrics-service-serving-cert-patch.yaml
  config/openshift/manager_config_patch.yaml
  config/openshift/patch.yaml
Due: none

Label namespace for OpenShift cluster monitoring at runtime
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Gate ServiceMonitors and metrics proxy on monitoring availability
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  cmd/bpfman-operator/main.go
  config/bpfman-operator-deployment/kustomization.yaml
  config/openshift/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  go.mod
  go.sum
  internal/constants.go
  internal/k8s.go
  test/integration/metrics_test.go
  test/integration/suite_test.go
  test/lifecycle/lifecycle_test.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/resource.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/http_config.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/tls_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove OpenShift-specific TLS cert handling from operator deployment
  bundle/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/openshift/kustomization.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  controllers/bpfman-operator/config.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Move namespace labels and service-CA annotation to runtime
  bundle/manifests/bpfman-agent-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/openshift/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Fix operator-sdk download check to use correct binary name
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add OLM bundle deployment targets
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Switch KIND bundle deploy to a local registry
  Makefile
  hack/kind-config.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add CI workflow for OLM bundle deployment tests
  .github/workflows/olm_bundle_test.yml
  Makefile
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  hack/kind-config.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Manage kind as a versioned local dependency
  Makefile
  hack/kind-load-image.sh
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add default-config subcommand, Makefile target, and lifecycle tests
  Makefile
  cmd/bpfman-operator/main.go
  test/integration/suite_test.go
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Make patch-image-references idempotent
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Export BPFMAN_IMG so run-local receives it
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Switch build images from Docker Hub golang to Red Hat UBI go-toolset
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
Due: none

Bump actions/checkout from v4 to v6
  .github/workflows/image-build.yaml
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Bump actions/setup-go from v5 to v6
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
Due: none

Bump actions/cache from v4 to v5
  .github/workflows/integration_test.yml
Due: none

Bump actions/upload-artifact from v4 to v6
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
  .github/workflows/scorecard.yml
Due: none

Bump actions/download-artifact from v4 to v6
  .github/workflows/pull_request.yml
Due: none

Restructure CI workflows for correct caching and parallel execution
  .github/workflows/integration_test.yml
  .github/workflows/pull_request.yml
Due: none

Vendor prometheus-operator monitoring/v1 API types
  go.mod
  go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/resource.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/http_config.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/tls_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add OLM bundle deployment make targets
  Makefile
  hack/kind-config.yaml
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add patch-pull-always make target
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Reconcile ServiceMonitors at runtime gated on monitoring API
  cmd/bpfman-operator/main.go
  config/openshift/kustomization.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  config/prometheus/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  internal/constants.go
  internal/k8s.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate OLM bundle manifests
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Add CI workflow for OLM bundle deployment tests
  .github/workflows/olm_bundle_test.yml
  .github/workflows/pull_request.yml
Due: none

Reconcile monitoring and RBAC resources at runtime
  Containerfile.bpfman-operator
  Makefile
  cmd/bpfman-operator/main.go
  config/bpfman-operator-deployment/deployment.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/openshift/agent-metrics-monitor-tls-patch.yaml
  config/openshift/agent-metrics-service-serving-cert-patch.yaml
  config/openshift/controller-manager-metrics-service-monitor-tls-patch.yaml
  config/openshift/controller-manager-metrics-service-serving-cert-patch.yaml
  config/openshift/kustomization.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  config/openshift/manager_config_patch.yaml
  config/openshift/patch.yaml
  config/openshift/prometheus-metrics-reader-binding.yaml
  config/openshift/prometheus-rolebinding.yaml
  config/openshift/rbac.yaml
  config/openshift/restricted-scc.yaml
  config/prometheus/agent-service-monitor.yaml
  config/prometheus/controller-manager-metrics-monitor.yaml
  config/prometheus/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  internal/constants.go
  internal/k8s.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Regenerate OLM bundle manifests
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-agent-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/bpfman-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/bpfman-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/bpfman-prometheus-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
Due: bpfman-operator-bundle-on-push

Use $(OCI_BIN) instead of hardcoded docker in bundle targets
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add tests for monitoring reconciliation and owner-reference adoption
  controllers/bpfman-operator/config_test.go
  test/integration/metrics_test.go
  test/integration/suite_test.go
  test/lifecycle/lifecycle_test.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Remove hard-coded imagePullPolicy from deployment manifests
  Makefile
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/bpfman-deployment/daemonset.yaml
  config/bpfman-deployment/metrics-proxy-daemonset.yaml
  config/bpfman-operator-deployment/deployment.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Embed build version information in all binaries
  .github/workflows/image-build.yaml
  .github/workflows/pull_request.yml
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
  Makefile
  cmd/bpfman-agent/main.go
  cmd/bpfman-crictl/main.go
  cmd/bpfman-operator/main.go
  cmd/metrics-proxy/main.go
  internal/version/version.go
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
