Repository bpfman/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  bpfman-operator-on-pull-request: ((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-pull-request.yaml)) or (any of: .tekton/bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)

Add Config CRD description and sample to OLM bundle
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
  config/samples/bpfman.io_v1alpha1_config.yaml
  config/samples/kustomization.yaml
Due: bpfman-operator-bundle-on-push

Bump version to 0.6.0 for release
  VERSION
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  changelogs/CHANGELOG-v0.6.0.md
Due: bpfman-operator-bundle-on-push

Update bpfman dependency to v0.6.0
  go.mod
  go.sum
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Add `IMAGE_ORG` variable to `Makefile` and add `DEVELOPMENT.md`
  DEVELOPMENT.md
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

ci: fail vendor check when vendor/, go.mod or go.sum drift
  .github/workflows/pull_request.yml
Due: none

Add `setup-envtest` to `tools/tools.go` for vendoring
  Makefile
  go.mod
  go.sum
  tools/tools.go
  vendor/modules.txt
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

test: fail loudly when setup-envtest cannot be invoked
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

ci: name both commands in the vendor-drift error message
  .github/workflows/pull_request.yml
Due: none

Update .github/workflows/pull_request.yml
  .github/workflows/pull_request.yml
Due: none

ci: fail vendor check when `vendor/`, `go.mod` or `go.sum` drift
  .github/workflows/pull_request.yml
Due: none

make: bundle-deploy bakes imagePullPolicy=IfNotPresent into the bundle
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Update maintainers: replace Mohamed Mahmoud with Andrew McDermott
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Update OLM CSV description to reflect `Config` CR
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/manifests/bases/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Bump VERSION to 0.7.0-dev for next development cycle
  VERSION
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
Due: bpfman-operator-bundle-on-push

Mount bpffs into kind node via extraMounts
  hack/kind-config.yaml
Due: bpfman-operator-on-pull-request

Bump operator-sdk to v1.37.0 and golangci-lint to v2.12.2
  Makefile
  bundle.Dockerfile
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-pull-request, bpfman-operator-on-push

Makefile: switch LOCALBIN to a relative path
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Makefile: use order-only deps and atomic downloads for tools
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

Makefile: rework opm fetch rule to match kind and operator-sdk
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push

ci: prefer repo-local tools in make recipes
  Makefile
Due: bpfman-operator-on-pull-request, bpfman-operator-on-push
